*{
	padding: 0;
	margin: 0;
	}
body{

	}
#container{
	padding: 0;
	margin: 0 auto;
	width: 800px;
	background-color: #FFF;
	text-align: center;
	margin-top: 10px;

	}
h1, h2, h3, h4{
	text-align: center;
	}
h1{
	margin-top: 50px;
	}
h1 span{
	font-size: 150%;
	}
#text button{
	
	}
#header{
	padding: 20px 0px 10px 0px;
	}
#footer{
	padding: 10px 0px 20px 0px;
	}