*{
	padding: 0;
	margin: 0;
	}
body{

	}
#container{
	padding: 0;
	margin: 0 auto;
	width: 80%;
	background-color: #FFF;
	text-align: center;
	margin-top: 10%;
	}
h1, h2, h3, h4{
	text-align: center;
	font-size: 140%;	
	}
h1 span{
	font-size: 150%;
	}
#text button{
	
	}
#header{
	padding: 20px 0px 10px 0px;
	}
#footer{
	padding: 10px 0px 20px 0px;
	}
	
ul{
	list-style: none;
	}
#circle h3{
	font-size: 90%;
	}
#circle a{
	text-decoration: none;
	font-size: 80%;
	color: #002797;
	}
#circle a:hover{
	color: #ff0000;
	}
.spin{
	position: absolute;
	}
.disc-1{
	top: 40%;
	left: 20%;
	}
.disc-2{
	top: 12%;
	left: 22%;
	}
.disc-3{
	top: 12%;
	left: 60%;
	}
.disc-4{
	top: 40%;
	left: 65%;
	}
button#read{
	width: 20%;
	height: 40px;
	border: 1px solid #ccc;
	background-color: #ffd545;
	font-size: 110%;
	cursor: pointer;
	}