* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #888;
}
#bannerdiv{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    background-image: url('../images/header.png');
    background-repeat: repeat-x;
}
#bannerdiv h1{
    margin: 0 auto;
    text-shadow: 2px 2px 1px #FFF;
    font-size: 20px;
    color: #333;
    background-image: url('../images/Wikipedia-logo-48.png');
    background-repeat: no-repeat;
    background-position: 20% 0%;
    padding-top: 15px;
    padding-bottom: 10px;
}
#homebtn{
    position: absolute;
    left: 10px;
    top: 10px;
}
#homebtn span{
    font-size: 16px;
    margin-left: 3px;
    }
#homebtn img{
    float: left;	
    padding-top: 3px;
    padding-bottom: 3px;
}
#viewer{
    width: 69%;
    max-width: 69%;
    float: left;
    text-align: center;
    margin-top: 52px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}
#viewer img{
  max-width: 95%;
  max-height: 96%;
  display: inline-block;
  border: 10px solid #FFF;
}
#viewer span{
    display: inline-block;
    height: 100%;
    width: 0px;
}
#viewer *{
    vertical-align: middle;
}
#desc{
    width: 30%;
    float: left;
    margin: 0;
    margin-top: 52px;
    margin-left: 5px;
}

#buttons{
    position: relative;
}
.navi{
    border: 1px solid #999;
    text-align: center;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
}
.navi:hover {
    border: 1px solid #222;
    background-color: #eee;
}
#pre_btn{
    float: left;
    width: 50%;
}
#next_btn{
    margin-left: 51%;
}
a{
    text-decoration: none;
    color: #000;
}
#snippet{
    padding: 10px 5px 10px 10px;
    border: 1px solid #444;
    border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
    border-top: 2px solid #888;
    background-color: #FFF;
}
