* {
margin: 0;
padding: 0;
}
body{
	background-color: #888;	
	}
#bannerdiv{
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	background-image: url('../images/header.png');
	background-repeat: repeat-x;
}
#bannerdiv h1{
	text-shadow: 2px 2px 1px #FFF;
	font-size: 20px;
	color: #333;
	background-image: url('../images/Wikipedia-logo-48.png');
	background-repeat: no-repeat;
	background-position: 20% 0%;
	padding-top: 15px;
	padding-bottom: 10px;
	}
#tocdiv{
	width: 16%;
	float: left;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: #FFF;	
}
#mode{
	width: 100px;
	height: 20px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	border: 1px solid #999;
	background-color: #ffe380;
	padding: 3px 0px 0px 5px;
	z-index: 999;
	}
#mode p{
	margin: 0;
	text-shadow: 1px 1px 1px #EEE;
	padding-left: 20px;
	padding-top: 2px;
	background-image: url('../images/book.png');
	background-repeat: no-repeat;
	font-size: 10px;
	cursor: pointer;
	} 
#contentdiv{
	width: 65.9%;
	float: left;
	position: absolute;
	bottom: 0px;
	left: 16%;
	background-color: #FFF;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;	
}
#extradiv{
	width: 18%;
	float: left;;
	position: absolute;
	bottom: 0px;
	right: 0px;
	background-color: #FFF;
}
iframe{
	border: 0;
	}
#homebtn{
	position: absolute;
	left: 10px;
	top: 10px;
}
#homebtn span{
	font-size: 16px;
	margin-left: 3px;
	}
#homebtn img{
	float: left;	
	padding-top: 3px;
	padding-bottom: 3px;
}